@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.container {
    position: relative;
    font-family: "Montserrat", sans-serif;
    max-width: 40%;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 20px;
}

table[data-gamefield] {
    margin: 0 auto;
}

.gamefield {
    margin-bottom: 20px;
}

.game-field__td {
    width: 50px;
    height: 50px;
}

.color-base {
    background-color: rgb(222, 222, 222);
}

.color-try-catch {
    background-color: rgb(40, 107, 252);
}

.color-win {
    background-color: rgb(1, 126, 63);
}

.color-fail {
    background-color: rgb(192, 9, 33);
}

.count-tables {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.count-tables__table {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    color: rgb(73, 67, 67);
    background-color: rgb(235, 235, 235);
}

.count-tables__steps {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    color: rgb(150, 47, 47);
    background-color: rgb(253, 252, 252);
}

.hide {
    display: none;
    visibility: hidden;
}

.banner-win {
    position: absolute;
    width: 280px;
    height: 90px;
    margin: 106px auto auto;
    left: calc(50% - 140px);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    /*color: green;*/
    z-index: 100;
}

.form-start-options {
    position: absolute;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    align-content: space-around;
    margin-top: 160px;
    left: calc(50% - 150px);
    padding: 20px;
    background-color: rgb(49, 49, 49);
    width: 260px;
    height: 140px;
    z-index: 50;
}

.button-start {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(150, 47, 47);
}

.fon-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: cadetblue;
    opacity: 0.4;
    z-index: 40;
}

@media (max-width: 480.98px) {
    .container {
        max-width: 90%;
        min-width: 340px;
    }
}